@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Vagabond Destinations.</h1>
    <a  class="btn btn-success" asp-action="GetAll" asp-controller="Destination">Visit</a>
</div>
