
# ========================
# IGNORE EVERYTHING FIRST
# ========================
*

# ========================
# ALLOW FOLDERS (IMPORTANT)
# ========================
!*/

# ========================
# ALLOW FILE TYPES YOU WANT
# ========================
!*.cs
!*.txt
!*.md
!*.json
!*.xml
!*.pdf
!.gitignore

# ========================
# BLOCK PROJECT / BUILD FILES
# ========================
*.csproj
*.sln
*.user
*.suo

# ========================
# BLOCK BUILD OUTPUT
# ========================
**/bin/**
**/obj/**

# ========================
# BLOCK IDE FILES
# ========================
.vs/
.vscode/
.idea/

# ========================
# OPTIONAL: KEEP DATA FOLDERS
# (if you want to be explicit)
# ========================
!Data/**
!Files/**
!Resources/**

Day 1 assessment :- 
	Basic details about c# and dotnet.
	Installation notes for c#, dotnet.
	Installation notes for visual studio.
	Basic concepts and introduction to c# and dotnet.
	CLI , CLR , IL , BCL etc.
	MS Learn quizzes.

Day 2 assessments :-
	10 Exercise questions related to c# fundamentals.
	Typecasting , boxing , unboxing etc.

Day 3 assessments :-
	what is publishing.
	How publishing works.
	Publish your c# project in two modes:
		(i) dependent mode.	
		(ii)self-contained mode.
Day 4 assessment:-
	create a .net program to understand MVC.
	Create an MVC code for a college Training camp. 
