

# ========================
# IGNORE EVERYTHING FIRST
# ========================
*

# ========================
# ALLOW FOLDERS (so Git can traverse)
# ========================
!*/

# ========================
# ALLOW SOURCE FILES ONLY
# ========================
!*.cs
!*.txt
!*.md
!.gitignore

# ========================
# FORCE-IGNORE BUILD & IDE FILES
# (even if they contain .cs)
# ========================
**/bin/**
**/obj/**
**/.vs/**
**/Properties/**



Day 1 assessment :- 
	Basic details about c# and dotnet.
	Installation notes for c#, dotnet.
	Installation notes for visual studio.
	Basic concepts and introduction to c# and dotnet.
	CLI , CLR , IL , BCL etc.
	MS Learn quizzes.

Day 2 assessments :-
	10 Exercise questions related to c# fundamentals.
	Typecasting , boxing , unboxing etc.

Day 3 assessments :-
	what is publishing.
	How publishing works.
	Publish your c# project in two modes:
		(i) dependent mode.	
		(ii)self-contained mode.
Day 4 assessment:-
	create a .net program to understand MVC.
	Create an MVC code for a college Training camp. 
