@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Training Portal</h1>

    <p class="lead mt-3">
        Platform to help students manage their acadamics and schedule to maximize efficiency and grab thet dream job.
    </p>

    <hr class="my-4" />

    <p>
        Strong focus on building strong fundamentals in
        web development through structured courses and hands-on learning.
    </p>

    <p class="mt-3">
        Click on navigation bar to navigate through resources.
    </p>
</div>