@model Week10_FinanceWebsite.Models.Asset

<h2>Asset Details</h2>

<div>
    <p><strong>Name:</strong> @Model.Name</p>   
    <p><strong>Price:</strong> @Model.Price</p>
    <p><strong>Quantity:</strong> @Model.Quantity</p>
</div>

<a href="/Portfolio">Back to Portfolio</a>