@model DAY60_WealthTrack.ViewModel.InvestmentCreateViewModel

@{
    ViewData["Title"] = "Create";
}
<style>
    .form-control:focus{
        outline: none;
        box-shadow: none;
        border-color: #0d6efd;

    }

    .form-control{
        margin-bottom:1rem;
    }
</style>
@* @model DAY60_WealthTrack.ViewModel.InvestmentCreateViewModel *@

<h2 class="mb-4">Add Investment</h2>

<div class="card shadow-sm p-4">

<form asp-action="Create">
    <div>
        <label asp-for="AssetName" class="form-label"></label>
            <input asp-for="AssetName" class="form-control" />
            <span asp-validation-for="AssetName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="TickerSymbol" class="form-label"></label>
        <input asp-for="TickerSymbol" class="form-control" />
        <span asp-validation-for="TickerSymbol" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" id="price"/>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Quantity" class="form-label"></label>
        <input asp-for="Quantity" class="form-control" id="quantity"/>
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <!-- Calculated field -->
    <div class="mb-3">
        <label class="form-label">Total Investment Value</label>
        <input class="form-control" id="totalValue" readonly />
    </div>

    <div class="d-flex gap-2">

        <button type="submit" class="btn btn-primary">
            Save Investment
        </button>

        <button type="reset" class="btn btn-secondary">
            Clear Form
        </button>

        <a asp-action="Index" class="btn btn-outline-dark">
            Back
        </a>

    </div>

</form>
</div>

<script>
    function calculateTotal() {
        let price = parseFloat(document.getElementById("price").value) || 0;
        let quantity = parseInt(document.getElementById("quantity").value) || 0;

        let total = price * quantity;

        document.getElementById("totalValue").value =
            total.toLocaleString('en-IN', { style: 'currency', currency: 'INR' });
    }

    document.getElementById("price").addEventListener("input", calculateTotal);
    document.getElementById("quantity").addEventListener("input", calculateTotal);
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
