@model List<NorthwindCatalog.Services.DTOs.CategorySummaryDto>

<div class="container mt-4">
    <h2 class="mb-4 fw-bold">Summary</h2>

    <table class="table table-hover shadow-sm bg-white rounded">
        <thead class="table-dark">
            <tr>
                <th>Category</th>
                <th>Products</th>
                <th>Avg Price</th>
                <th>Most Expensive</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CategoryName</td>
                    <td>@item.ProductCount</td>
                    <td>₹@item.AvgPrice</td>
                    <td>@item.MostExpensiveProduct</td>
                </tr>
            }
        </tbody>
    </table>
</div>