@model Client.DTOs.TransactionByIdDto

<style>
    .manageRadio {
        border: 1px solid #ddd;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        border-radius: 4px;
        margin-top: 6px;
    }

    .manageInputs {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 14px; /* same as form */
        font-weight: 500; /* same as labels */
        color: #333;
    }

        .manageInputs input {
            margin: 0;
        }
</style>

<div class="page-box">
    <h1 class="page-title">Create a Transaction 💵</h1>

    <form method="post" class="form-clean">

        <div class="page-feilds">
            <label asp-for="AccountId" class="form-label"></label>
            <input asp-for="AccountId" class="form-control" readonly />
        </div>

        <div class="page-feilds">
            <label asp-for="TransactionType" class="form-label"></label>

            <div class="manageRadio">
                <label class="manageInputs">
                    <input asp-for="TransactionType" type="radio" value="withdrawl" />
                    Withdrawl
                </label>

                <label class="manageInputs">
                    <input asp-for="TransactionType" type="radio" value="deposite" />
                    Deposite
                </label>
            </div>

            <span asp-validation-for="TransactionType" class="text-danger"></span>
        </div>

        <div class="page-feilds">
            <label asp-for="Amount" class="form-label"></label>
            <input asp-for="Amount" class="form-control" type="number" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>

        <div class="form-actions">
            <button class="btn btn-success" type="submit">Submit</button>
            <a asp-action="GetAll" asp-controller="Account" class="btn btn-dark">Back</a>
        </div>

    </form>
 

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}